.gioithieu-container1 {
  padding: 96px 20px 90px 20px;
}

.gioithieu-title > div {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.gioithieu-container1 p {
  text-align: justify;
  font-size: 16px;
}

.gioithieu-container1 img {
  display: block;
  width: 100%;
}

#gioithieu2 {
  background-color: #eeeeee;
}

.gioithieu-container2 {
  padding: 100px 20px 90px 20px;
}

.gt-container2-img img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.gt-container2-text {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.gt-container2-text p {
  text-align: justify;
  margin-top: 63px;
}

.gt-container2-img li {
  position: relative;
}

.gt-container2-img li:hover > div {
  display: flex;
  flex-direction: column;
}

.gt-container2-img li div {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 42px;
  font-size: 40px;
  font-family: UTM-Avo;
  text-transform: uppercase;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  justify-content: center;
  align-items: center;
}

.gt-container2-img li div::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--primary-color);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  z-index: 1;
}

.gt-container2-img li div span {
  width: 100%;
  text-align: center;
  font-family: UTM-AvoBold;
  position: relative;
  padding-bottom: 16px;
  border-bottom: 5px solid var(--white-color);
}

.gt-container2-img li div span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -8px;
  left: 50px;
}

.gioithieu-container3 {
  padding: 69px 20px 0 20px;
}

.gioithieu-container3 > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gioithieu-container3 > div p {
  text-align: justify;
}

.gioithieu-container3 img {
  width: 100%;
  margin-top: 40px;
}

.gioithieu-container4 > div {
  margin: 30px 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.gioithieu-container4 > div img {
  width: 100%;
}

.gioithieu-container4 > div p {
  text-align: justify;
}

.gt4-content {
  margin: 96px 0;
}

.gioithieu-container4 img {
  width: 886px;
  position: relative;
}

.gioithieu-container5 {
  display: grid;
  grid-template-columns: 1fr;
}

.gioithieu-container5 img {
  width: 100%;
  height: 100%;
}

#gioithieu1,
#gioithieu4 {
  overflow: hidden;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .gt-container2-img {
    display: flex;
  }
  .gt-container2-text {
    flex-direction: row;
  }
  .gt-container2-text p:first-child {
    max-width: 600px;
  }

  .gioithieu-container3 > div {
    flex-direction: row;
  }

  .gioithieu-container5 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .gioithieu-title > div {
    width: 1650px;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .gioithieu-container4 > div {
    position: relative;
    width: 1693px;
    display: flex;
    flex-direction: row;
    gap: 84px;
  }

  .gioithieu-container1 p {
    max-width: 580px;
  }

  .gioithieu-container5 {
    grid-template-columns: repeat(4, 1fr);
  }
}
